{% extends "FrontOffice/layout.html.twig" %}

{% block title %}
    Accueil | {{ parent() }}
{% endblock %}

{% block body %}

    {# section -> les plus populaires#}
    <section class="row">
        <h2 class="col-md-12">RECETTES LES PLUS POPULAIRES</h2>
        {% for recipe in recipesMostPopular %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ recipe.name }}</h3>
                <img class="col-md-12" src="{{ asset(recipe.image.webPath) }}" />
                <figcaption class="col-md-10 col-md-offset-1">
                    <p class="col-md-12"> {{ recipe.specialtyCountry.country }}</p>
                    <p class="col-md-12">{{ recipe.partOfMenu.type }}</p>
                    <a href="{{ path('front_office_recipe',{'id': recipe.id, 'slug': recipe.slug}) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir la recette</a>
                </figcaption>
            </figure>

        {% endfor %}
    </section>

    <div class="row">
        <button class="col-md-3 col-md-offset-5 btn btn-info">Plus de recettes</button>
    </div>

    {# Section -> Les mieux notées#}
    <section class="row">
        <h2 class="col-md-12">RECETTE LES MIEUX NOTEES</h2>
        {% for specialtyCountry in specialtiesCountries %}
        <figure class="col-md-4">
            <h3 class="col-md-12">Nom de la recette</h3>
            <img class="col-md-12" src="{{ asset(specialtyCountry.image.webPath) }}" />
            <figcaption class="col-md-10 col-md-offset-1">
                <p class="col-md-12"> Pays : Nom du pays</p>
                <p class="col-md-12">Type : plat</p>
                <button class="col-md-6 col-md-offset-3 btn btn-info">Voir la recette</button>
            </figcaption>
        </figure>
        {% endfor %}
    </section>

    <div class="row">
        <button class="col-md-3 col-md-offset-5 btn btn-info">Plus de recettes</button>
    </div>

    {# Section -> Par ingrédient#}
    <section class="row">
        <h2 class="col-md-12">RECETTES PAR INGREDIENT</h2>
        {% for ingredientCategory in ingredientCategories %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ ingredientCategory.name }}</h3>
                <img class="col-md-12" src="{{ asset(ingredientCategory.image.webPath) }}" />
                <figcaption class="col-md-10 col-md-offset-1">
                    <p class="col-md-12">Liste de la catégorie : {{ ingredientCategory.name }}</p>
                    <a href="{{ path('front_office_ingredient_category',{'id': ingredientCategory.id, 'slug': ingredientCategory.slug }) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir les ingrédients</a>
                </figcaption>
            </figure>
        {% endfor %}
    </section>

    {# Section -> Par type de menu #}
    <section class="row">
        <h2 class="col-md-12">RECETTES PAR TYPE</h2>
        {% for partOfMenu in partsOfMenu %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ partOfMenu.type }}</h3>
                <img class="col-md-12" src="{{ asset(partOfMenu.image.webPath) }}" />
                <figcaption class="col-md-10 col-md-offset-1">
                    <a href="{{ path('front_office_part_menu',{'id': partOfMenu.id, 'slug': partOfMenu.slug }) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir les recettes</a>
                </figcaption>
            </figure>
        {% endfor %}
    </section>

    {# Section -> Par spécialité #}
    <section class="row">
        <h2 class="col-md-12">RECETTES PAR PAYS</h2>
        {% for specialtyCountry in specialtiesCountries%}
        <figure class="col-md-4">
            <h3 class="col-md-12">{{ specialtyCountry.country }}</h3>
            <img class="col-md-12" src="{{ asset(specialtyCountry.image.webPath) }}" />
            <figcaption class="col-md-10 col-md-offset-1">
                <p>Spécialité {{ specialtyCountry.country }}</p>
                <a href="{{ path('front_office_country_specialty',{'id':specialtyCountry.id, 'slug': specialtyCountry.slug }) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir les recettes</a>
            </figcaption>
        </figure>
        {% endfor %}
    </section>
    <div class="row">
        <button class="col-md-3 col-md-offset-5 btn btn-info">Plus de pays</button>
    </div>
{% endblock %}
