{% extends "FrontOffice/layout.html.twig" %}

{% block title %}
    Catégorie {{ category.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">CATEGORIE {{ category.name | upper }}</h2>
        <p class="col-md-12">Recherchez une recette avec un  {{ category.name | lower }} comme base</p>
        {% for ingredient in ingredients %}
            <img class="col-md-3" src="{{ asset(ingredient.image.webPath) }}" alt="{{ ingredient.image.alt }}"/>
        {% endfor %}
    </section>
{% endblock %}