{% extends "FrontOffice/layout.html.twig" %}

{% block title %}
    Partie du menu  | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">LISTE DES {{ partOfMenu.type | upper }}S</h2>

        {% for recipe in recipes %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ recipe.name }}</h3>
                <img class="col-md-12" src="{{ asset(recipe.image.webPath) }}" alt="{{ recipe.image.alt }}"/>
                <figcaption class="col-md-10 col-md-offset-1">
                    <p class="col-md-12">{{ recipe.name }}</p>
                    <a href="{{ path('front_recipe',{'id': recipe.id }) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir la recettes</a>
                </figcaption>
            </figure>
        {% endfor %}

    </section>
{% endblock %}