{% extends "FrontOffice/layout.html.twig" %}

{% block title %}
   {{ cookingRecipe.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
    <h2 class="col-md-12">{{ cookingRecipe.name }} <span>{{ cookingRecipe.dateCreation | date('d/m/Y')}}</span></h2>
    <img class="col-md-8" src="{{ asset(cookingRecipe.image.webPath) }}" alt="{{ cookingRecipe.image.alt }}" />
    </div>
    <div class="row">
            <h3 class="col-md-6">Type de plat : {{ cookingRecipe.partOfMenu.type }}</h3>
            <h3 class="col-md-6">Spécialité pays : {{ cookingRecipe.specialtyCountry.country }}</h3>
    </div>
    <h3>Liste des ingrédients</h3>
    <ul>
        {% for ingredient in cookingRecipe.ingredients  %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <div class="row">
        <p class="col-md-6">Temps de préparation : {{ cookingRecipe.preparationTime }} minutes</p>
        <p class="col-md-6">Temps de cuisson : {{ cookingRecipe.cookingTime }} minutes</p>
    </div>
    <div class="row">
        <p class="col-md-12">
            {{ cookingRecipe.content }}
        </p>
    </div>
{% endblock %}