{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Catégorie ingrédient{{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">Ajouter une catégorie d'ingrédient</h2>
        <a href="{{ path('manage_ingredient_category_add') }}" class="col-md-2 btn btn-secondary btn-lg">Ajouter une nouvelle catégorie</a>
    </section>

    <section class="row">
        <h2 class="col-md-12">LISTE DES CATEGORIES D'INGREDIENTS</h2>
        {% for ingredientCategory in ingredientCategories %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ ingredientCategory.name }}</h3>
                <img class="col-md-12" src="{{ asset(ingredientCategory.image.webPath) }}" />
                <figcaption class="col-md-12">
                    <h4 class="col-md-12">Gérer la spécialité: {{ ingredientCategory.name }}</h4>
                    <a href="{{ path('manage_ingredient_category_edit',{'id' : ingredientCategory.id, 'slug': ingredientCategory.slug}) }}" class="col-md-5 col-md-offset-1 btn btn-primary">Modifier</a>
                    <a href="{{ path('manage_ingredient_category_delete',{'id' : ingredientCategory.id, 'slug': ingredientCategory.slug}) }}" class="col-md-5 col-md-offset-1 btn btn-danger">Supprimer</a>
                </figcaption>
            </figure>

        {% endfor %}
    </section>

{% endblock %}
