{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Accueil{{ parent() }}
{% endblock %}

{% block body %}
    <p id="welcome-user">Bienvenue {{ app.user.username }}</p>

    <section class="row">

        {% if recipesNotPublished | length  == 1 %}
            <h2 class="col-md-12">IL Y A 1 RECETTE NON PUBLIEE</h2>
        {% elseif recipesNotPublished > 1 %}
            <h2>IL Y A {{ recipesNotPublished | length }} RECETTES NON PUBLIEES</h2>
        {% endif %}
        {% if recipesNotPublished | length >= 1 %}
            {% for recipe in recipesNotPublished %}
                <figure class="col-md-4">
                    <h3 class="col-md-12">{{ recipe.name }}</h3>
                    <img class="col-md-12 col-xs-12" src="{{ asset(recipe.image.webPath) }}" />
                    <figcaption class="col-md-10 col-md-offset-1">
                        <p class="col-md-12">
                            {% if recipe.specialtyCountry is not null %}
                                {{ recipe.specialtyCountry.country }}
                            {% else %}
                                Aucune spécialité
                            {% endif %}
                        </p>
                        <p class="col-md-12">{{ recipe.partOfMenu.type }}</p>
                        <a href="{{ path('front_office_recipe',{'id': recipe.id, 'slug': recipe.slug}) }}" class="col-md-5 col-md-offset-1 btn btn-default">Voir</a>
                        <a href="{{ path('manage_cooking_recipe_edit',{'id': recipe.id}) }}" class="col-md-5 col-md-offset-1 btn btn-info">Modifier</a>
                    </figcaption>
                </figure>

            {% endfor %}
        {% else %}
            <h2>Il y a aucune recette non publié</h2>
            <h3>LES DERNIERES RECETTES</h3>
            {% for lastRecipe in lastRecipes %}
                <figure class="col-md-4">
                    <h3 class="col-md-12">{{ lastRecipe.name }}</h3>
                    <img class="col-md-12 col-xs-12" src="{{ asset(lastRecipe.image.webPath) }}" />
                    <figcaption class="col-md-10 col-md-offset-1">
                        <p class="col-md-12">
                            {% if lastRecipe.specialtyCountry is not null %}
                                {{ lastRecipe.specialtyCountry.country }}
                            {% else %}
                                Aucune spécialité
                            {% endif %}
                        </p>
                        <p class="col-md-12">{{ lastRecipe.partOfMenu.type }}</p>
                        <a href="{{ path('front_office_recipe',{'id': lastRecipe.id, 'slug': lastRecipe.slug}) }}" class="col-md-6 col-md-offset-3 btn btn-info">Voir la recette</a>
                    </figcaption>
                </figure>

            {% endfor %}
        {% endif %}

    </section>
{% endblock %}
