{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/backOffice.css') }}" />

{% endblock %}
{% block title %}
   - Administration | {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
    <div class="navbar-header"><a class="navbar-brand" href="{{ path('back_office_index') }}">Odelices Voyage</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active" >
                <a href="{{ path('front_office_index') }}"><span class="fa fa-home icone_fontawesome_header" aria-hidden="true"></span>Panneau administration</a>
            </li>
            <li>
                <a href="{{ path('front_office_index') }}"><span class="fa fa-home icone_fontawesome_header" aria-hidden="true"></span>Accueil du site</a>
            </li>
        </ul>

        {# Les liens varient si un user est connecté #}
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-sign-out icone_fontawesome_header" aria-hidden="true"></span>Déconnexion</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}"><span class="fa fa-user-circle icone_fontawesome_header" aria-hidden="true"></span>Connexion</a>
                {% endif %}
            </li>
            <li>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('fos_user_profile_edit') }}"><span class="fa fa-user-circle icone_fontawesome_header" aria-hidden="true"></span>Mon compte</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                {% endif %}
            </li>
        </ul>
    </div>

{% endblock %}

{% block nav_vertical %}
    <div class="btn-group btn-group-vertical col-md-3 nav_vertical">
        <h3>GESTION DES CATEGORIES</h3>
        <a href="{{ path('manage_specialty_country_index') }}" class="btn btn-default">Spécialité pays</a>
        <a href="{{ path('manage_part_of_menu_index') }}" class="btn btn-default">Type de menu</a>
        <a href="{{ path('manage_ingredient_category_index') }}" class="btn btn-default">Catégorie ingrédients</a>
        <h3>GESTION DES INGREDIENTS ET RECETTES</h3>
        <a href="{{ path('manage_ingredient_index') }}" class="btn btn-default">Ingrédients</a>
        <a href="{{ path('manage_cooking_recipe_index') }}" class="btn btn-default">Recettes</a>
    </div>
{% endblock %}

