{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Recette{{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">Ajouter une nouvelle recette</h2>
        <a href="{{ path('manage_cooking_recipe_add') }}" class="col-md-2 btn btn-secondary btn-lg">Ajouter une recette</a>
    </section>

    <section class="row">
        <h2 class="col-md-12">LISTE DES RECETTES</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Publier</th>
                </tr>
                </thead>
                <tbody>
                {% for cookingRecipe in cookingRecipes %}
                    <tr>
                        <th scope="row">{{cookingRecipe.id }}</th>
                        <td>{{ cookingRecipe.name }}</td>
                        <td>{{ cookingRecipe.user }}</td>
                        {% if cookingRecipe.published == 1 %}
                            <td>Oui</td>
                        {% else %}
                            <td>Non</td>
                        {% endif %}
                        <td><a href="{{ path('manage_cooking_recipe_edit', {'id' : cookingRecipe.id}) }}" class="col-md-5 col-md-offset-1 btn btn-primary">Modifier</a></td>
                        <td><a href="{{ path('manage_cooking_recipe_delete', {'id' : cookingRecipe.id}) }}" class="col-md-5 col-md-offset-1 btn btn-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>

{% endblock %}
