{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Recette{{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">Ajouter une nouvelle recette</h2>
        <a href="{{ path('manage_cooking_recipe_add') }}" class="col-md-2 btn btn-secondary btn-lg">Ajouter une recette</a>
    </section>

    <section class="row">
        <h2 class="col-md-12">LISTE DES RECETTES</h2>
        {% for cookingRecipe in cookingRecipes %}
            <figure class="col-md-4">
                <h3 class="col-md-12">{{ cookingRecipe.name }}</h3>
                <img class="col-md-12" src="{{ asset(cookingRecipe.image.webPath) }}" />
                <figcaption class="col-md-12">
                    <h4 class="col-md-12">Gérer la recette: {{ cookingRecipe.name }}</h4>
                    <a href="{{ path('manage_cooking_recipe_edit', {'id' : cookingRecipe.id}) }}" class="col-md-5 col-md-offset-1 btn btn-primary">Modifier</a>
                    <a class="col-md-5 col-md-offset-1 btn btn-danger">Supprimer</a>
                </figcaption>
            </figure>

        {% endfor %}
    </section>

{% endblock %}