{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Supprimer un ingrédient | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2>SUPPRIMER LE TYPE DE MENU : {{ ingredient.name }}</h2>
        <p>Voulez-vous confirmer la suppression de : {{ ingredient.name }} ?</p>
        {# Formulaire pour supprimer la spécialité de pays #}
        <form action="{{ path('manage_ingredient_delete', {'id': ingredient.id, 'slug': ingredient.slug}) }}" method="post">

            <a href="{{ path('manage_ingredient_index') }}" class="btn btn-primary">Annuler</a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            {# Pour générer le champ CSRF #}
            {{ form_rest(form) }}
        </form>
    </section>
{% endblock %}
