<div class="well">
    {{ form_start(form) }}

    {# Gestion des erreurs générales#}
    {{ form_errors(form) }}

    {# Champ name #}
    {{ form_label(form.name,"Nom de l'ingrédient", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

    {# Champ category #}
    {{ form_label(form.category,"Catégorie de l'ingrédient", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}

    {% if ingredient is defined %}
        <div class="row">
            <img class="col-md-4" src="{{asset(ingredient.image.webPath)}}" alt="{{ ingredient.image.alt }}" />
        </div>
    {% endif %}

    {# Champ image#}
    {{ form_label(form.image,"Modifier l\'image", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary button_form_recipe'}}) }}

    {# Ajout des éventuels champs cachés + CRSF #}
    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>
