{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Désactiver un utilisateur | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2>Désactiver : {{ user.username }}</h2>
        <p>Voulez-vous désactiver le compte de : {{ user.username }} ?</p>
        {# Formulaire pour supprimer la spécialité de pays #}
        <form action="{{ path('manage_account_user_desactivate', {'id': user.id}) }}" method="post">

            <a href="{{ path('manage_account_user') }}" class="btn btn-primary">Annuler</a>
            <input type="submit" value="Désactiver" class="btn btn-danger" />
            {# Pour générer le champ CSRF #}
            {{ form_rest(form) }}
        </form>
    </section>
{% endblock %}
