{% extends "BackOffice/layout.html.twig" %}

{% block title %}
   Compte utilisateur{{ parent() }}
{% endblock %}

{% block body %}

    <section class="row">
        <h2 class="col-md-12">LISTE DES UTILISATEURS</h2>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Derniére connexion</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {% if user.lastLogin is not null %}
                    <td>{{ user.lastLogin | date('d/m/Y') }}</td>
                {% else %}
                    <td>Aucune</td>
                {% endif %}
                <td><a href="" class="btn btn-danger">Supprimer</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}