{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Spécialités pays{{ parent() }}
{% endblock %}

{% block body %}
<section class="row">
    <h2 class="col-md-12">AJOUTER UN NOUVEAU PAYS</h2>
    <a href="{{ path('manage_specialty_country_add') }}" class="col-md-2 btn btn-secondary btn-lg">Ajouter un pays</a>
</section>

<section class="row">
    <h2 class="col-md-12">LISTE DES PAYS DE LA CATEGORIE</h2>
    {% for country in categoriesSpecialtyCountry %}
        <figure class="col-md-4">
            <h3 class="col-md-12">{{ country.country }}</h3>
            <img class="col-md-12" src="{{ asset(country.image.webPath) }}" />
            <figcaption class="col-md-12">
                <h4 class="col-md-12">Gérer la spécialité: {{ country.country }}</h4>
                <a href="{{ path('manage_specialty_country_edit', {'id' : country.id}) }}" class="col-md-5 col-md-offset-1 btn btn-primary">Modifier</a>
                <a href="{{ path('manage_specialty_country_delete', {'id' : country.id}) }}" class="col-md-5 col-md-offset-1 btn btn-danger">Supprimer</a>
            </figcaption>
        </figure>

    {% endfor %}
</section>

{% endblock %}